<!DOCTYPE html>
<html>
<head>
    <title>Ürün Yorum Analizi</title>
    <link rel="stylesheet" href="/static/style.css">
</head>



<body>
    <nav class="navbar">
    <div class="nav-left">
        <a href="/">🛒 Ürün Yorum Analizi</a>
        <a href="/about">Hakkında</a>
    </div>

    <div class="nav-right">
        {% if current_user %}
<div class="user-menu">
    <div class="user-menu-trigger">
        <span class="user-icon">👤</span>
        <div>
            <strong>Hesabım</strong>
            <small>{{ current_user.username }}</small>
        </div>
        <span class="arrow">⌄</span>
    </div>

    <div class="user-dropdown">
        <div class="dropdown-username">
            {{ current_user.username }}
        </div>

        <a href="/favorites">❤️ Favorilerim</a>
        <a href="/my-comments">💬 Yorumlarım</a>
        <a href="/profile">👤 Profil Bilgilerim</a>
        <a href="/analysis-history">🧠 AI Analiz Geçmişim</a>

        <div class="dropdown-divider"></div>

        <a href="/logout" class="logout-link">🚪 Çıkış Yap</a>
    </div>
</div>
{% else %}
            <a href="/login" class="nav-btn">Giriş Yap</a>
            <a href="/register" class="nav-btn register-btn">Kayıt Ol</a>
        {% endif %}
    </div>
</nav>

<header>
    <h1>Ürün Yorum Analiz Sistemi</h1>
</header>

<main>
    {% block content %}{% endblock %}
</main>
<footer class="footer">
    <p>© 2026 Ürün Yorum Analiz Sistemi | KTÜN Dönem Projesi</p>
</footer>
</body>
</html>